.titl_1 {
    color: #f70776;
    text-align: center;
    font-style: inherit;
}

.titl_2 {
    color: #f70776;
    text-align: center;
}

.div_titl {
    background-color: #141010;
    padding: 40px;
    border-radius: 8px;
    border-color: #680747;
}

.div_body_img {
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #c3195d;
    border-radius: 8px;
}

.body_colour {
    background-color: #c3195d;
    border-radius: 8px;
}

.text_invit{
    text-align: end;
    text-decoration: solid;
}
